{% block navigation-items %}
  <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim"
     data-placement="bottom">
    Hotel reviews
  </a>
  <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
  </button>
  <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
    <ul class="navbar-nav navbar-nav-hover ms-auto">
      <li class="nav-item dropdown dropdown-hover mx-2">
        <a href="{% url 'hotel_review_service:review-list' %}"
           class="nav-link ps-2 d-flex cursor-pointer align-items-center" aria-expanded="false">
          Recent Reviews
        </a>
      </li>

      <li class="nav-item dropdown dropdown-hover mx-2">
        <a href="{% url 'hotel_review_service:hotel-list' %}"
           class="nav-link ps-2 d-flex cursor-pointer align-items-center" aria-expanded="false">
          Hotels
        </a>
      </li>

      <li class="nav-item dropdown dropdown-hover mx-2">
        <a href="{% url 'hotel_review_service:user-list' %}"
           class="nav-link ps-2 d-flex cursor-pointer align-items-center" aria-expanded="false">
          Most active users
        </a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item ms-lg-auto">

          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-link d-inline mb-0" role="button" type="submit">
              Logout
            </button>
            
          </form>

        </li>

        <li class="nav-item my-auto ms-3 ms-lg-0">
          <a href="{% url 'hotel_review_service:user-detail' pk=user.id %}"
             class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">{{ user.get_username }}</a>
        </li>
      {% else %}
        <li class="nav-item my-auto ms-3 ms-lg-0">
          <a href="{% url 'logout' %}"
             class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}