{% extends "base.html" %}

{% block content %}
  <h1>
    Hotel's name: {{ hotel.name }}
    <a href="{% url 'hotel_review_service:hotel-delete' pk=hotel.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'hotel_review_service:hotel-update' pk=hotel.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>{{ hotel.hotel_class }}</p>
  <p>Location: {{ hotel.placement }}</p>
  <p>Average rating: {{ hotel.average_rating }}</p>
  <hr>
  <ul>
    {% for review in hotel_reviews %}
      {% include "hotel_review_service/includes/review_inline.html" %}
    {% endfor %}
  </ul>
{% endblock %}
