{% extends "base.html" %}
{% load static %}
{#{% block content %}#}
{#    <h1>Hotel Review Service Home</h1>#}
{#    <p>Welcome to Best Review Site Ever!</p>#}
{#    <h2>Dynamic content</h2>#}
{#    <p>The Hotel review service has the following record counts:</p>#}
{#    <ul>#}
{#        <li><strong>Users:</strong> {{ num_users }}</li>#}
{#        <li><strong>Hotels:</strong> {{ num_hotels }}</li>#}
{#        <li><strong>Reviews:</strong> {{ num_reviews }}</li>#}
{#    </ul>#}
{##}
{#    <p>You have visited this page#}
{#        {{ num_visits }} time{{ num_visits|pluralize }}.#}
{#    </p>#}
{##}
{#{% endblock %}#}
{% block body %} class="index-page bg-gray-200" {% endblock body %}
{% block content %}
<header class="header-2">
  <div class="page-header min-vh-75 relative header-background" style="background-image: url('{% static 'img/bg2.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Hotel reviews</h1>
          <p class="lead text-white mt-3">
            Choose a hotel for your vacation based
            </br>
            on honest reviews
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"><span id="state1" countTo="70">{{ num_hotels }}</span>+</h1>
              <h5 class="mt-3">Hotels</h5>
              <p class="text-sm font-weight-normal">Hotels in our database</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary"> <span id="state2" countTo="15">{{ num_users }}</span>+</h1>
              <h5 class="mt-3">Registered users</h5>
              <p class="text-sm font-weight-normal"></p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-primary" id="state3" countTo="4">{{ num_reviews }}</h1>
              <h5 class="mt-3">Reviews</h5>
              <p class="text-sm font-weight-normal">Left by users on hotels around the world</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}