<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Taxi Service</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link id="pagestyle" href="{% static 'css/material-kit.css' %}" rel="stylesheet"/>
</head>

<body class="index-page bg-gray-200" >
{% block header %}
  {% include 'includes/navigation.html' %}
{% endblock header %}
{% block content %}{% endblock %}
</body>

</html>
